span {
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  color: #5f6368;
}

button.trash {
  background: transparent;
  border: none;
}

h3 {
  color: #929299;
}

@media screen and (max-width: 991px) {
  tr th:nth-child(3), tr th:nth-child(4) {
    display: none;
  }  

  tr td:nth-child(3), tr td:nth-child(4) {
    display: none;
  }
}