<div class="row my-3">
  <div class="col">
    <input type="text" class="form-control rounded-1" placeholder="Filtrar contatos" [(ngModel)]="filterText">
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div *ngIf="getFilteredContacts().length > 0">
      <span class="text-uppercase">Contatos ({{ getFilteredContacts().length }})</span>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let contact of getFilteredContacts()">
              <td>
                <input class="form-check-input mt-0" type="checkbox" [value]="contact" aria-label="Checkbox for following text input" (change)="addPin(contact)" [checked]="selectedContact === contact">
              </td>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dedede" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                {{ contact.name }}
              </td>
              <td>{{ contact.phone | slice: 0:2 }} {{ contact.phone | slice: 2:6 }}-{{ contact.phone | slice: 6 }}</td>
              <td>{{ contact.cpf | slice: 0:3 }}.{{ contact.cpf | slice: 3:6 }}.{{ contact.cpf | slice: 6:9 }}-{{ contact.cpf | slice: 9 }}</td>
              <td>
                <a [routerLink]="['/contacts/edit', contact.id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dedede" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </a>
                <button class="ms-2 trash" (click)="deleteContact(contact.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cecece" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid" *ngIf="getFilteredContacts().length === 0">
      <div class="row mt-5">
        <div class="col d-flex align-items-center justify-content-center">
          <h3>Nenhum contato encontrado.</h3>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-lg-6 mt-4">
    <app-geolocation [longitude]="longitude" [latitude]="latitude"></app-geolocation>
  </div>  
</div>


