<div class="container-fluid mt-3">
  <div class="card card-body">

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Nome</label>
            </div>
          </div>
    
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">CPF</label>
            </div>      
    
          </div>
    
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Telefone</label>
            </div>
          </div>
          
    
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">CEP</label>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Rua</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Número</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Complemento</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Bairro</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Cidade</label>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Estado</label>
            </div>
          </div>

          <div class="col-lg-6 mx-auto">
            <button type="submit" class="btn btn-primary mb-3 d-block w-100 h-75 text-uppercase fw-bold">Salvar</button>    
        </div>
        </div>
      </div>

      <div class="col-6">
        [aqui vai o mapa]
      </div>
    </div>
  </div>
</div>
