
button {
  background: transparent;
  color: #3d3a3a;
  border: none;
  font-size: 20px;
}

.nav-item {
  cursor: pointer;
}

.nav-item > a {  
  text-decoration: none;
  color: rgb(32,33,36);  
  padding: 10px;  
}

.nav-item > a:hover {
  color: rgb(110 114 129);  
}

@media screen and (max-width: 991px) {
  .nav-item > a {
    padding: 0;
  }

  button {
    background: transparent;
    color: #000;
    border: none;
    font-size: 20px;
  }
}
