<h1 class="text-uppercase fw-bolder text-center">Cadastrar-se</h1>

<div class="row">
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Seu nome">
      <label for="floatingInput">Seu nome</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">E-mail</label>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
      <label for="floatingPassword">Senha</label>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPasswordConfirmation" placeholder="Confirme sua senha">
      <label for="floatingPasswordConfirmation">Confirme sua senha</label>
    </div>
  </div>

  <div class="col-lg-8 mx-auto">
    <button type="submit" class="btn btn-primary mb-3 d-block w-100 h-75 text-uppercase fw-bold">Cadastrar-se</button>    
  </div>
</div>